<template>
<div class="pos" >
    <form @submit.prevent="save">
  <div class="top">
    <div class="form-group">
      <label for="nama">Nama Pelanggan</label>
      <input type="text" name="nama" id="name" v-model="form.name">
    </div>

    <div class="two-column">
        <div class="form-group">
          <label for="tanggal">Tanggal</label>
          <input type="tanggal" name="tanggal" id="date" v-model="form.date">
        </div>

          <div class="form-group">
            <label for="waktu">Jam</label>
            <input type="waktu" name="waktu" id="time" v-model="form.time">
        </div>

    </div>
  </div>
  <div class="middle">
    <label for="">Item yang dijual</label>
    <span class="table-wrap">
    <table>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Harga Satuan</th>
        <th>SubTotal</th>
        <th></th>
      </tr>
      <tr>
        <td><input type="text" name="item" id="item" v-model="item" ></td>
        <td><input type="number" name="qty" id="qty" v-model="qty" min="1"></td>
        <td><input type="number" name="price" id="price" v-model="price" min="0.00" max="100000" step="0.01"></td>
        <td><input type="number" name="subtotal" id="subtotal" v-model="subtotal"></td>
        <td><button><img src="./assets/delete.png"></button></td>
      </tr>
    </table>

  <div class="add-item"><button>+ Tambah item lain</button></div>

    </span>
  </div>

  <div class="bottom">
    <span class="wrap">
    <div class="form-group">
      <label for="total">Total</label>
      <input type="number" name="total" id="total" v-model="total">
    </div>
    <div class="form-group">
      <label for="cash">Bayar Tunai</label>
      <input type="number" name="cash" id="cash" v-model="cash">
    </div>
    <div class="form-group">
      <label for="cashback">Kembali</label>
      <input type="number" name="cashback" id="cashback" v-model="cashback">
    </div>
    <button class="btn btn-cancel">Cancel</button>
    <button type="submit" class="btn btn-submit">Submit</button>

    </span>
  </div>
    </form>


    <ul class="result">
      <li v-for="selling in selling" :key="selling.id">
        <span>
          <label>Nama :</label>
          <p>
          {{ selling.name }} </p>
          </span>

        <span>
          <label>Tanggal :</label>
          <p>
          {{ selling.date }} </p>
          </span>

        <span>
          <label>Waktu :</label>
          <p>
          {{ selling.time }} </p>
          </span>

        <span>
          <label>Total :</label>
          <p>
          {{ selling.total }} </p>
          </span>

        <span>
          <label>metode Pembayaran :</label>
          <p>
          {{ selling.cash }} </p>
          </span>

        <span>
          <label>Sisa :</label>
          <p>
          {{ selling.cashback }} </p>
          </span>

        <span>
          <label>Item :</label>
          <p>
          {{ selling.item }} </p>
          </span>

        <span>
          <label>Harga :</label>
          <p>
          {{ selling.price }} </p>
          </span>

        <span>
          <label>Sub Total :</label>
          <p>
          {{ selling.subtotal }} </p>
          </span>

      </li>
    </ul>
    <button @click="load">load</button>

</div>
</template>
<script>
import axios from 'axios'

export default {
  
  data(){
    return {
      form: {
        name: '',
        date: '',
        time: '',
        total: '',
        cash: '',
        cashback: '',
        item: '',
        price: '',
        subtotal: '',

      },
      selling : []

    }
  },
  async mounted(){

    // this.load()

  },

  methods: {

    async load(){

      const response = await axios.get('http://localhost:3000/selling')
      this.selling = response.data

    },

    async save() {
        const response = await axios.post('http://localhost:3000/selling', this.form)
        this.selling = response.data
        this.name =''
        this.date =''
        this.jam =''
        this.total =''
        this.cash =''
        this.cashback =''
        this.item =''
        this.price =''
        this.subtotal =''
        this.load()
      },


  }


}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.pos {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 20px;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
label{

    font-size: 12px;

}

.top {
    max-width: 50%;
}
.two-column {
    display: flex;
    align-items: center;
}

.two-column .form-group:last-child {
    width: 100px;
    margin-left: auto;
}

.form-group {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}

.form-group input {
    margin-left: auto;
    width: 70%;
    border: 1px solid #bfbebe;
    border-radius: 4px;
    padding: 8px;
}



.form-group {
    display: flex;
    padding-bottom: 10px;
}

input {
    margin-left: auto;
    width: 70%;
    border: 1px solid #eae9e9 !important;
    border-radius: 4px;
    padding: 8px;
}

.form-group label {
    font-size: 12px;
}

.middle {
    display: flex;
    /* align-items: center; */
}

.middle table {
width: 100%;
    margin-left: auto;
    border: 1px solid #bfbebe;
    border-radius: 4px;
    padding: 0;
    background: white;
}
span.table-wrap {
    margin-left: auto;
    width: 87%;
}
.add-item {
    padding: 10px 0;
}

.middle table th {
    text-align: left;
    background: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}

.middle table input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #bfbebe;
}

.middle table button {
background: #f3ecee;
    border: 1px solid #eae9e9;
    padding: 5px;
    border-radius: 4px;
}
.middle table button img {
    width: 14px;
}

.middle table td {
    text-align: center;
    padding: 5px;
    background: #f9f6f6
}


.middle  .table-wrap .add-item button {
    background: transparent !important;
    color: #09988c;
    border: 0 !important;
    box-shadow: none;
}

.middle table .add-item {
    padding: 10px;
    border: 0;
}

.two-column .form-group:first-child {
    width: 70%;
}

.two-column .form-group:first-child input {
    width: 57%;
}

.two-column .form-group:last-child input#time {
    width: 50%;
}


table, th, td {
    border: 1px solid #eae9e9;
    border-collapse: collapse;
}

button{
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}

.bottom {
    text-align: right;
}
.bottom .wrap {
    width: 40%;
    overflow: hidden;
    display: inline-block;
}
span.table-wrap {
    margin-left: auto;
    width: 87%;
}

span.wrap button {
    padding: 10px;
    border: 0;
    background: #51b1a9;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

span.wrap .btn-cancel {
    background: #dcdada;
    color: #797373;
}

ul.result li span {
    display: block;
}

ul.result li{
    padding-bottom: 10px;
    list-style-type:none;
}

ul.result li span p {
  display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}



</style>